* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 1em;
    font-family: "PT Serif Caption", serif;

}

body {
    background-color: rgb(242, 180, 248);
}

header {
    background-color: rgb(165, 93, 147);
    text-align: center;
    padding: 20px 40px;

}

footer {
    background-color: rgb(134, 89, 115);
    color:white;
    padding: 20px 40px;
}

#about {
    background-color: rgb(255, 209, 219);
    padding: 20px 40px;
    text-align: center;
    
    
}

#articles {
    padding: 20px 40px;

    
}
#part1
{
    text-align: center;
    padding: 20px 40px;
    

}
#part2
{
    text-align: center;
    padding: 20px 40px;

}
#part3
{
    text-align: center;
    padding: 20px 40px;

}
#content {
    padding: 20px 40px;
}
h2 {
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: justify;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

nav ul {
    list-style:none;
    text-transform: uppercase;

   
}

a:link {
    color:rgb(80, 5, 30);
}
a:visited {
    color: rgb(80, 5, 30);
}
a:active {
    color: rgb(86, 46, 99);
}
a:hover {
    color:rgb(136, 127, 255);
}
a:focus {
    color: rgb(255, 0, 119);
}



.a-important::after {
    content: "";
    font-size: 12px;
    color:rgb(255, 0, 0);
    margin-left: 15px;
}
.wide::first-line {
    letter-spacing: 5px;
}



